.container {
	max-width: auto;
	margin: auto 15px;
	text-align: center;
}

input {
	background-color: #0a0070;
	color: rgb(255, 255, 255);
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.568);
}

button {
	font-size: 1em;
	background-color: #ffab00;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px
}

button:hover {
	background-color: #d48e00;
}

#resultado {
	margin-top: 20px;
	font-size: 1.2em;
}

body {
	background-color: #0a0070; /* cambiar por el color de fondo deseado */
	color: #ffffff; /* cambiar por el color de fuente deseado */
	font-size: 1.3em;
  }

h1 {
	color: #ffab00ed;
	font-size: 1.9em;
	text-align: center;
  }

form {
	margin-top: 30px;
  }

header {
	background-image: url('Images/cplogoindali.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width: 100%; /* ajustar al ancho completo de la pantalla */
	height: 110px; /* ajustar la altura del encabezado */
	/* otros estilos de la cabecera */
}

header img {
	height: 100%; /* ajustar la altura del logo para que sea igual a la altura del encabezado */
	float: left; /* alinear el logo a la izquierda */
}

/* Estilos para el pie de página */
footer {
	background-color: #ffab00; /* color de fondo */
	color: #fff; /* color de texto */
	text-align: left;
	padding: 10px;
	margin-top: auto;
	margin: auto -15px;

	position: fixed;
	bottom: 0;
	width: 100%;
	height: 6%;	
  }
  
.inner-footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100%;
	text-align: left;
  }

  /* Estilos para los enlaces del pie de página */
footer a {
	color: #000000;
	text-decoration: none;
	font-size: 1.1em;
	margin : 20px;
  }
  
footer a:hover {
	text-decoration: underline;
  }

  
