.container {
	max-width: auto;
	margin: auto auto;
	height: auto;
}

input {
	background-color: #0a0070;
	color: rgb(255, 255, 255);
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px #ffab00;
}

button {
	font-size: 1em;
	background-color: #0a0070;
	color: #ffab00;
	padding: 10px 20px;
	border: none;
	box-shadow: 0px 0px 2px 2px #ffab00;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px
}

button:hover {
	background-color: #ffb824;
	color: #0a0070;
	box-shadow: 0px 0px 2px 2px #ffb824;
}

#resultado {
	margin-top: 20px;
	font-size: 1.2em;
	text-align: left;
}

body {
	background-color: #0a0070; /* cambiar por el color de fondo deseado */
	color: #ffffff; /* cambiar por el color de fuente deseado */
	font-size: 1.3em;
  }


form {
	margin: 15px;
	text-align: left;
	margin-top: 175px
  }

header {
	background-color: #0a0070;
	background-image: url('Images/cplogoindali.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left top;
	box-shadow: 0px 0px 3px 3px #ffab00;
	position: fixed;
	top: 0;
	width: 100%; /* ajustar al ancho completo de la pantalla */
	height: 150px; /* ajustar la altura del encabezado */
	margin: 0px -8px;
}
	header img {
	background-color: #0a0070;
	height: 100%; /* ajustar la altura del logo para que sea igual a la altura del encabezado */
	float: left; /* alinear el logo a la izquierda */
	}

h1 {
	color: #ffab00ed;
	font-size: 1.9em;
	text-align: center;
	padding: 0px 0px;
  }

/* Estilos para el pie de página */
footer {
	background-color: #0a0070; /* color de fondo */
	color: #fff; /* color de texto */
	text-align: left;
	margin-top: auto;
	margin: auto -8px;

	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	box-shadow: 0 0 3px 3px #ffab00;
  }

  /* Estilos para los enlaces del pie de página */
footer a {
	color: #ffab00;
	text-decoration: none;
	font-size: 1em;
	margin : 15px;
	
  }
  
footer a:hover {
	text-decoration: underline;
  }

  
