	max-width: 500px;
	text-align: center;
}

input {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

#resultado {
	margin-top: 20px;
	font-size: 1.5em;
}
