.container {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

input {
	background-color: #0a0070;
	color: rgb(255, 255, 255);
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.568);
}

button {
	font-size: 1em;
	background-color: #ffab00;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px
	
}

button:hover {
	background-color: #d48e00;
}

#resultado {
	margin-top: 20px;
	font-size: 1.2em;
}

body {
	background-color: #0a0070; /* cambiar por el color de fondo deseado */
	color: #ffffff; /* cambiar por el color de fuente deseado */
	font-size: 1.3em;
  }

h1 {
	color: #ffab00ed;
	font-size: 1.9em;
  }
  
header {
	background-image: url("C:/Users/InTeL-PC/Pictures/Upeu Archivos/cp logo indali.png");
	background-repeat: no-repeat;
	background-position: center;
	/* otros estilos de la cabecera */
  }
  